body{
    margin: 0;
    font-family: 'Merriweather', serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page-header{
    background-image: url('../img/pattern.png');
    background-size: 200px;
    background-color: rgb(31, 153, 252);
    padding-top: 20px;
}

h1{
    margin-bottom: 0;
}

.sss{
    margin-bottom: 15px;
}

#logo{
    width: 100px;
    margin-left: 5px;
}

#site{
    color: rgb(31 153 252);
    text-decoration: none;
    font-size: small;
}

.text-muted{
    color: grey;
    font-size: small;
    font-style: normal;
}

figure{
    margin: 20px 0 0 0;
}

.tim{
    height: 247px;
}

figcaption{
    font-size: small;
}

ul{
    padding: 15px;
}

.yellowbackground{
    background-color: yellow;
}

table{
    border-collapse: collapse;
}

thead{
    background-color: rgb(31 153 252);
    color: white;
}

.lightblue{
    background-color: rgb(111, 214, 214);
}

#img1, #img2{
    color: white;
    height: 200px;
    background-repeat: no-repeat;
    padding: 10px;
}

#img1{
    background-image: url('../img/graph.jpg');
    margin-bottom: 0;
}

#img2{
    background-image: url('../img/monitor.jpg');
    margin-top: 0;
}

footer{
    margin-top: 40px;
}